---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
import dateFormat from "@lib/utils/dateFormat";
import readingTime from "@lib/utils/readingTime";
import { humanize, plainify, slugify } from "@lib/utils/textConverter";
const { summary_length } = config.settings;
const { posts } = Astro.props;

import {
  FaRegCalendarAlt,
  FaRegClock,
  FaRegFolder,
  FaRegUserCircle,
  FaShare,
} from "react-icons/fa/index.js";
---
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M5WX7VS9');</script>
  <!-- End Google Tag Manager -->

  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ibk5bkxumo");
</script>

<div class="row">
  {
    posts.map((item: any) => (
      <div class="mb-8 md:col-6 lg:col-4">
        <div class="card">
          <Image
            class="card-img"
            width={335}
            height={210}
            src={item.data.image}
            alt=""
          />
          <div class="card-content">
            <div class="card-tags space-x-1">
              {item.data.categories.map((category: any) => (
                <a class="tag" href={`/categories/${slugify(category)}`}>
                  {humanize(category)}
                </a>
              ))}
            </div>
            <h3 class="h4 card-title">
              <a href={`/blog/${item.slug}`}>{item.data.title}</a>
            </h3>
            <p class="mb-4 text-text">
              {plainify(item.body?.slice(0, Number(summary_length)))}...
            </p>
            <div class="card-footer mt-6 flex flex-wrap justify-between">
              <span class="inline-flex items-center text-xs text-[#666]">
                <FaRegCalendarAlt className={"mr-2 -mt-1 inline-block"} />
                {dateFormat(item.data.date)}
              </span>
              <span class="inline-flex items-center text-xs text-[#666]">
                <FaRegClock className={"mr-2 -mt-1 inline-block"} />
                {readingTime(item.body)}
              </span>
              <span class="inline-flex items-center text-xs text-[#666]">
                <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} />
              {humanize(item.data.author)}
              </span>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5WX7VS9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->