---
// DoctorsSingle.astro
import { Image } from "@astrojs/image/components";
import dateFormat from "@lib/utils/dateFormat";

import { humanize, slugify } from "@lib/utils/textConverter";
import {
  FaRegCalendarAlt,
  FaRegClock,
  FaRegFolder,
  FaRegUserCircle,
} from "react-icons/fa/index.js";
const { post } = Astro.props;
const { Content } = await post.render();

import Blogs from "@components/Blogs.astro";
import PageHeader from "@components/PageHeader.astro";
import Shape from "@components/Shape.astro";
import BlogCategories from "@components/blog/BlogCategories.astro";
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";

const { blog_folder } = config.settings;
const posts = await getSinglePage(blog_folder);
const categories = await getTaxonomy(blog_folder, "categories");
// Get all posts 

// Filter posts by category
// Get title of current post
const { title } = Astro.props.post.data;

// Filter posts
const filteredPosts = posts.filter(post => {
  return post.data.categories.includes(title)
});
import "../styles/components.scss";

---

<section class="page-hero pb-14 pt-16">
  <div class="container">
    <PageHeader page_data={{ title: post.data.title  }} />
  </div>
</section>

<section class="mt-6"> 
  <!-- next section -->
  

  <head>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>


  <section>
    <div class="wrapper">
        <div class="left">
          <div class="card-image basis-1/4">
            <img src={post.data.image} alt="" >
          </div>
            <h4>{post.data.title}</h4>
             <p>{post.data.subtitle}</p>
        </div>
        <div class="right">
            <div class="info">
                <h3>Clinic</h3>
                <div class="flex">
                <div class="card-image basis-1/4">
            <img src={post.data.image2} alt="" width="150" height="150">
          </div>
                <div class="clinic basis-3/4 pl-4">
                     <div class="data">
                        <h4>{post.data.clinic}</h4>
                        <p>{post.data.address}</p>
                     </div>
                </div>
              </div>
            </div>
          
            <div class="specializations">
    <h3>Specializations</h3>
    <div class="specializations_data flex">
      {post.data.specializations.map(spec => (
        <div class="spec-box mr-2 mb-2 rounded bg-white p-2 shadow">
          {spec}  
        </div>
      ))}
    </div>
  </div>
          
            <div class="social_media">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="{post.data.url}"><i class="fab fa-google"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                
              </ul>
          </div>
        </div>
    </div>
    </section>


    


   
    <section class="mt-16"> 
      <!-- next section -->



    
    
    <!-- Move this section down -->
    <section class="section">
      <div class="container">
        <Blogs posts={filteredPosts} />
      </div>
    </section>



  </Base>