---
// DoctorsSingle.astro
import { Image } from "@astrojs/image/components";
import dateFormat from "@lib/utils/dateFormat";

import { humanize, slugify } from "@lib/utils/textConverter";
import {
  FaRegCalendarAlt,
  FaRegClock,
  FaRegFolder,
  FaRegUserCircle,
} from "react-icons/fa/index.js";
const { post } = Astro.props;
const { Content } = await post.render();
const cards = [
  {
    image: "/path/to/image-1.png",
    heading: "Card Heading 1", 
    text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut.",
    link: "/path/to/link-1"
  }
]
---

<section class="section doctors-single">
  <div class="container">
    <div class="row">
      <div class="lg:col-6">
        <Image
          class="w-full rounded-xl"
          src={post.data.image}
          alt=""
          width={450}
          height={350} 
        />
      </div>
      
      <div class="lg:col-6">
        <h1 class="h2">
          {post.data.title}
        </h1>
        
        <div class="mb-5 mt-6 flex items-center space-x-2">
          <ul class="mb-4">
            {post.data.subtitle}
          </h1>
        </div>
 
      </div>
    </div>
  </div>
</section>

<section class="section doctors-single">
  <div class="container">
    <div class="row">
      <div class="lg:col-6">
        <Image
          class="w-full rounded-xl"
          src={post.data.image}
          alt=""
          width={250}
          height={250} 
        />
      </div>
      
      <div class="lg:col-6">
        <h1 class="h2">
          {post.data.clinic}
        </h1>
        
        <div class="mb-5 mt-6 flex items-center space-x-2">
          <ul class="mb-4">
            {post.data.address}
          </h1>
        </div>
        <div class="mb-5 mt-6 flex items-center space-x-2">
          <a href={post.data.url} target="_blank" class="block text-primary">
            {post.data.url}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="video-container">
    <iframe 
      width="560" 
      height="315"
      src="post.data.video"
      title="Review" 
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen
    ></iframe>
  </div>
</section>

